// *{
//     outline: 1px solid darkorange;
// }

.perfil-pic{
    border-radius: 32px;
    outline: 3px solid black;
}

.titulo-nome{
    font-size: 2.5rem;
}

.titulo-objetivo{
    font-size: 1.5rem;
}
